* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

header {
  border: 0.3px solid #cfcfcf;
}

.burger {
  height: 30px;
  margin: 15px 25px; 
}

.container {
  display: flex;
  border: 0.5px solid #808080;
  background-color: #e9e9e9;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

section {
  flex-basis: calc(25% - 10px);
  background-color: #808080;
  text-align: center;
  border-bottom: 70px solid #d8d8d8;
  padding: 100px;
  margin: 5px 5px;
}
